header{
    height: 85vh;
    padding-top: 7rem;
    overflow: hidden;
    text-align: center;
    /* border: 2px solid red; */
}
.header_container{
    text-align: center;
    height: 100%;
    /* position: relative; */
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
}
.header_socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    left: 0;
    bottom: 3rem;
}
.me{   
    width: 25rem;
    height: 35rem;
    margin-top: 2rem;    
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    padding-left: 50px;
}

@media screen and (max-width: 1024px) {
    header{        
        height: 65vh;
    }
}
@media screen and (max-width: 600px) {
    header{
       height: 75vh;
    }   
}